{% extends "ROYPlatformBundle::layout.html.twig" %}

{% block title %}
	Une annonce - {{ parent() }}
{% endblock %}

{% block royplatform_body %}

	<h2>{{ advert.title }}</h2>
	<i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>
	
	<div class="well">
		{{ advert.content }}
	</div>
	
	<p>
		<a href="{{ path('roy_platform_home') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à la liste
		</a>	
		<a href="{{ path('roy_platform_edit', {'id':advert.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i>
			Modifier l'annonce
		</a>
		<a href="{{ path('roy_platform_delete', {'id':advert.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-trash"></i>
			Supprimer l'annonce
		</a>
	</p>

{% endblock %}
